.input {
  animation: borderColorChange 2s infinite;
  border: 1px solid;
  display: block;
  padding: 10px;
  margin: 10px;
  width: 100%;
  min-height: 30px;
  height: 80%;
  resize: none;
  border-radius: 0;
}

@keyframes borderColorChange {
  0% {
    border-color: rgb(211, 216, 218);
  }
  25% {
    border-color: rgb(181, 186, 186);
  }
  50% {
    border-color: rgb(42, 46, 47);
  }
  75% {
    border-color: rgb(124, 130, 130);
  }
  100% {
    border-color: rgb(211, 216, 218);
  }
}
